@import "tailwindcss";

@theme {
  --color-primary-fixed: #dae2ff;
  --color-on-background: #091c35;
  --color-primary-fixed-dim: #b2c5ff;
  --color-primary-container: #0052cc;
  --color-on-primary: #ffffff;
  --color-inverse-primary: #b2c5ff;
  --color-inverse-surface: #20314b;
  --color-tertiary-fixed-dim: #65dca4;
  --color-on-primary-fixed-variant: #0040a2;
  --color-secondary-container: #dde0e2;
  --color-on-error: #ffffff;
  --color-surface-container-lowest: #ffffff;
  --color-surface: #f9f9ff;
  --color-tertiary-fixed: #82f9be;
  --color-surface-dim: #cadbfc;
  --color-inverse-on-surface: #ecf0ff;
  --color-outline: #737685;
  --color-on-secondary-fixed: #181c1e;
  --color-on-primary-fixed: #001848;
  --color-on-tertiary-container: #72e9af;
  --color-on-tertiary: #ffffff;
  --color-surface-container: #e7eeff;
  --color-secondary-fixed: #e0e3e5;
  --color-on-secondary-container: #5f6365;
  --color-error: #ba1a1a;
  --color-surface-tint: #0c56d0;
  --color-primary: #003d9b;
  --color-secondary: #5b5f61;
  --color-on-tertiary-fixed: #002113;
  --color-error-container: #ffdad6;
  --color-surface-container-low: #f0f3ff;
  --color-tertiary-container: #006844;
  --color-on-surface: #091c35;
  --color-on-secondary: #ffffff;
  --color-on-secondary-fixed-variant: #434749;
  --color-on-tertiary-fixed-variant: #005235;
  --color-on-primary-container: #c4d2ff;
  --color-outline-variant: #c3c6d6;
  --color-surface-variant: #d6e3ff;
  --color-secondary-fixed-dim: #c4c7c9;
  --color-tertiary: #004e32;
  --color-surface-container-highest: #d6e3ff;
  --color-background: #f9f9ff;
  --color-on-error-container: #93000a;
  --color-surface-container-high: #dfe8ff;
  --color-surface-bright: #f9f9ff;
  --color-on-surface-variant: #434654;

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;

  --spacing-touch-target: 48px;
  --spacing-base: 4px;
  --spacing-xl: 32px;
  --spacing-sm: 12px;
  --spacing-xs: 8px;
  --spacing-lg: 24px;
  --spacing-md: 16px;

  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-on-background);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.icon-fill {
  font-variation-settings: 'FILL' 1;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
